* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homefeed h1 {
    color: white;
    background-color: transparent;
    text-align: center;
    margin-left: 180px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-width: 1px;
    padding-bottom: 12px;
    font-size: 26px;
    text-shadow: 0px 1px 1px blue;
}

.homefeed h1>div {
    background-color: white;
}

.topicsection {
    width: 100%;
}

.topicsection>div {
    display: flex;
}

.topicsection::-webkit-scrollbar {
    display: none;
}

.scrollable {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.hotTopics {
    padding: 8px;
    width: 300px;
    margin: 0rem;
    position: relative;
    align-items: center;
    flex-direction: row;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 0;

}

.hottopics h1 {
    color: lightblue;
    font-size: 19px;
    text-shadow: 0px 2px 2px red;
    font-weight: bold;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 90px;
    z-index: 1;
    width: 180px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hottopics h1:hover {}

.hottopics img {
    height: 90px;
    width: 180px;
    border: 1px solid grey;
    border-style: double;
    border-radius: 10px;
    filter: blur(1.8px);
}

.hottopics img:hover {
    filter: blur(0px);
    border-radius: 10px;
    border-style: solid;
}

.hottopics:hover {
    transform: scale(1.1);
    transition: 0.3s;

    border-radius: 12px;
    min-height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: black;
    cursor: url("images/Nexus-Neon-Red-Mini-normal.svg");
    backdrop-filter: blur(15px);
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.cursor {}

#sidebar-wrapper {
    min-height: 100vh;
    width: 7%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    color: white;
}



#list {
    /* margin-right: 30px; */
    max-width: 30vw;
    position: absolute;
    right: 0;
    margin-top: 120px;
    height: 100vh;
    min-width: 20vw;
    background-color: black;
    overflow-y: auto;
    border-right: 2px solid lightblue;
    opacity: 100%;
    border: 2px solid blue;
    border-radius: 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    animation: myanim 6s infinite;
}

#masterdiv {
    flex-direction: row;
    background-color: transparent;
    border-bottom: red;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    padding: 0;
    bottom: 0%;
    top: 0%;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    margin-top: -20px;
    cursor: pointer;
    position: relative;
    background: grey;
    width: 24vw;
    background: linear-gradient(black, rgba(255, 0, 0, 0.021));
    left: 0;
    background-color: black;
    opacity: 100%;
    justify-content: center;
    border-color: 5px solid transparent;
    top: 0;
    cursor: auto;
    border-right: 5px solid red;
    /* margin-top: 40px; */
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 15px;
    border-top: -20px;
    border-bottom: 0px;
    border-left: 0px;
    animation: myanim 6s infinite;
}

@keyframes myanim {
    20% {
        border-color: red;
    }
}

.profilepic {
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: -120px;
    height: 120px;
    width: 120px;
    background-image: url(images/Mikeypfp.jpg);
    background-size: cover;
    border-style: ridge;
    border-color: red;
    border-radius: 50%;
    background-position: right;
}



.profilepic h2 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 120px;
}

.profilepic h2 span {
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 0;
    font-size: 16px;
    margin-top: 10px;
}



img {
    height: 100px;
    width: 100px;
}

.scrollbar {
    box-sizing: border-box;
    margin: 100px;
    align-items: center;
    justify-content: flex-start !important;
    background-color: #050505;
    height: calc(100vh - 98.97px);
    overflow-y: scroll;
}
.multi-media{
    margin: 150px;
}



.scrolling-element-inside {
    direction: ltr;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    overflow: auto;
    direction: ltr;
    border-radius: 4px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.test {
    height: 500px;
}

article {
    background-color: black;
    opacity: 80%;
    border-radius: 10px;
    border-style: solid;
    border-left-style: none;
    border-color: blue;
    height: 100%;
    width: 61.2%;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    border-top: 0px;
    border-bottom: 0px;

    animation: myanim 6s infinite;
}

article div {
    margin: 5px;
}

.image img {
    min-height: 400px;
    border-style: solid;
    border-color: white;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
    min-width: 740px;
    border-radius: 10px;
}

.reactions {
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.reactions :hover {
    background-color: black;

}

.reactions img {
    height: 105px;
    width: 29px;
    justify-content: center;
    align-items: center;
}

.content {
    color: #a4eaed;
    text-shadow: 0px 2px 2px red;
    font-size: 30px;
    font-family: "Bebas Neue", cursive;
    text-align: center;
}

#table1 {
    color: white;
    position: absolute;
    width: 50%;
}

.sidebarOption {
    display: flex;
    user-select: none;
    padding-left: 45px;
    margin: 40px;
    height: 26px;
    margin-right: 90px;
    margin-bottom: 10px;
    margin-top: 40px;
    align-items: center;
    color: red;
}

.scrollbar {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sidebarOption .material-icons {
    padding: 40px;
}

.sidebarOption .material-symbols-outlined {
    padding: 40px;
}

.sidebarOption h2 {
    font-family: sans-serif;
    text-shadow: 0px 2px 2px red;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 0px;
    font-weight: 500;
    margin-right: 300px;
    color: #a4eaed;
}

.sidebarOption:hover {
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    width: 10px;
    padding: 1px;
    color: white;
    background-color: red 1px solid;
    margin-right: 100px;
    transition: color 200ms;
}

.copyright h2 {
    color: white;
    margin: 190px;
    margin-left: 150px;
    position: fixed;
    text-align: center;
    opacity: 35%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: text;
}

#soda {
    position: fixed;
    background: black;
    width: 280px;
    border-radius: 24px;
    right: 0px;
    margin-left: 400px;
    z-index: 20;
    top: 0;
}

.imagerole {
    display: flex;
    border-bottom: 2px solid grey;
    border-radius: 0.5px;
    padding-bottom: 3px;
    position: sticky;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 11px;
    margin: 25px;
    background-color: #050505;
    border-radius: 12px;
}

.imagerole img {
    border-radius: 10px;
    border-color: white;
    border-right: 5px solid red;
    border: 2px solid blue;
    border-radius: 15px;
    border-top: -20px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    height: 40px;
    width: 40px;
    align-items: center;
}

.imagerole h2 {
    color: #a4eaed;
    text-shadow: 0px 2px 2px red;
    font-size: 20px;
    padding-left: 13px;
    align-items: center;
    justify-content: center;
}

#message {
    background-color: #050505;
    border-color: red;
    border-radius: 40px;
    opacity: 45%;
    width: 100%;
    height: 40px;
    text-indent: 20px;
}

.Container {
    height: 200px;
    overflow-x: auto;
}

.Content {
    height: 300px;
}

.Flipped {
    direction: rtl;
}

.Content {
    direction: ltr;
}

#message #placeholder {
    color: white;
}

#online-tab:active {
    color: transparent;
}

#online {
    overflow-y: scroll;
}

#offline-tab {
    color: red;
    border-color: black;
    width: 100px;
    
    

    background-color: black;
}

#online-tab {
    color: limegreen;
    border: black;
    width: 180px;
    background-color: black;
}

#online-tab:hover{
    color: blue;
    border: 2px solid blue;
    border-top: 2px solid blue;
    border-radius: 10px;
}

.nav-tabs {
    border-bottom: none;
    list-style: outside;
}